<html>

<head>
	<title>Solar Imperium 2.7 Installer (Page 1/4)</title>
</head>

<body style="font-size:14px;font-family:sans-serif" bgcolor="#333344">
	<br/><br/>
	<div align="center">
	<div style="width:600px" align="left">
		
	<p style="background-color:#666699;color:white;padding:5px">
	  <b>Solar Imperium 3.0 Installer (Page 1 of 4) :: Introduction</b>
	</p>

	<div style="text-align:justify;background-color:#ccccdd;padding:30px;border:1px solid white">
	  <p>
		Welcome to the <b>Solar Imperium 3.0</b> installer.  
		This project is a <i>community-developed recreation</i> of the classic 1990s strategy game, updated to run on modern systems.
	  </p>

	  <p>To continue, please ensure your server meets the following basic requirements:</p>
	  <ul>
		<li>A web server <i>(Apache recommended)</i></li>
		<li>PHP 8.5 or later</li>
		<li>A database server <i>(MariaDB recommended)</i></li>
	  </ul>

	  <p>
		Once these requirements are met, click <b>Continue</b> to proceed with installation.  
		<br/><br/>
		<b>Note:</b> Solar Imperium supports multiple languages, but the installer itself is provided in English.
	  </p>
	  	<form>
			<input type="button" value="Continue" onClick="window.location='install.php?page=2'">
		</form>
	</div>

	</div>
	</div>

</body>

</html>
